
# Lab data files --------------------------------------------------------------

_Labs/Conditioning_Stability/stability_data.npy
_Labs/DataVisualization/anscombe.npy
_Labs/DataVisualization/MLB.npy
_Labs/DataVisualization/earthquakes.npy
_Labs/DataVisualization/countries.npy
_Labs/Differentiation/plane.npy
_Labs/DrazinInverse/social_network.csv
_Labs/FacialRecognition/faces94.zip
_Labs/ImageSegmentation/dream.png
_Labs/ImageSegmentation/dream_gray.png
_Labs/ImageSegmentation/blue_heart.png
_Labs/ImageSegmentation/HeartMatrixA.npz
_Labs/ImageSegmentation/HeartMatrixD.npy
_Labs/KMeans/earthquake_coordinates.npy
_Labs/KMeans/nasa.zip
_Labs/LeastSquares_Eigenvalues/circle.npy
_Labs/LeastSquares_Eigenvalues/ellipse.npy
_Labs/LeastSquares_Eigenvalues/housing.npy
_Labs/LinearTransformations/horse.npy
_Labs/MatplotlibIntro/FARS.npy
_Labs/PageRank/web_stanford.txt
_Labs/PageRank/ncaa2010.csv
_Labs/PageRank/ncaa2011.csv
_Labs/PageRank/ncaa2012.csv
_Labs/PageRank/ncaa2013.csv
_Labs/PageRank/ncaa2014.csv
_Labs/PageRank/ncaa2015.csv
_Labs/PageRank/ncaa2016.csv
_Labs/PageRank/ncaa2017.csv
_Labs/PageRank/top250movies.txt
_Labs/Profiling/names.txt
_Labs/Profiling/triangle.txt
_Labs/Profiling/triangle_large.txt
_Labs/SQL1/student_info.csv
_Labs/SQL1/student_grades.csv
_Labs/SQL1/us_earthquakes.csv
_Labs/SQL2/students.db
_Labs/SVD_ImageCompression/hubble.jpg
_Labs/SVD_ImageCompression/hubble_gray.jpg
_Labs/UnixShell1/Shell1.zip

# General Files ---------------------------------------------------------------

# Extra Python files.
__init__.py
__main__.py
*.py[cdfo]
__pycache__/
.ipynb_checkpoints/

# Latex temporary files
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nlo
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
*.bcf
*.fls
*.pdf

# OS generated files
.DS_Store

# Backup files
*~
*.backup
*.bak
*.tmp
*.temp
*.sav

# C compiled files, extensions
*.dll
*.o
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Unit test / coverage reports
.coverage
.tox
.cache/
.pytest_cache/
htmlcov/

# Miscellaneous
build/
faces94/
nyc_*.json
*.mod
